.intro {
    &__list {
        display: flex;

        border-radius: 20px;
        background: $white;
        box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);

        @include media-width1180 {
            flex-wrap: wrap;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 0 auto;

        font-size: 20px;
        line-height: 1.5;
        padding: 40px 0;

        @media (max-width:1300px) {
            font-size: 17px;
        }

        @include media-width1180 {
            flex: 1 0 50%;
            font-size: 20px;
        }

        @include media-width767 {
            flex: 1 0 80%;
            font-size: 22px;
            justify-content: stretch;

            padding: 20px 0;
            margin-left: 50px;
        }

        @include media-width425 {
            display: none;
        }

        &>p {
            margin-left: 20px;
        }
    }
}