.calc-slider-door {

  &__list-part1,
  &__list-part2 {
    display: flex;

    @extend %white-block;

    @include media-width1180 {
      flex-wrap: wrap;
    }

    @include media-width650 {
      border-radius: 0;
      background: transparent;
      box-shadow: none;
    }

    @include media-width425 {
      display: none;
    }
  }

  &__item-p1,
  &__item-p2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;

    font-size: 20px;
    line-height: 1.5;
    padding: 40px 0;

    @media (max-width:1300px) {
      font-size: 17px;
    }

    @include media-width1180 {
      flex: 1 0 50%;
      font-size: 20px;
    }

    @include media-width767 {
      flex: 1 0 80%;
      justify-content: stretch;

      padding: 20px 0;
      margin-left: 50px;
    }

    &>p {
      margin-left: 20px;
    }
  }

  &__list-part2 {
    @include media-width425 {
      display: block;
    }
  }

  &__item-p2 {
    @include media-width425 {
      margin-left: 0;
      font-size: 18px;
      line-height: 1.5;
    }
  }
}