.order-call {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    padding: 5px 15px;
    width: 100%;
    height: 100%;


    display: flex;
    justify-content: center;
    align-items: center;
}

.bd-close {
    position: absolute;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.popup-window {
    transform: translateY(-1000px);
    transition: $transition;

    position: relative;
    max-width: 590px;
    padding: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 20px;
    background: #FBFBFB;
    box-shadow: 0px 2px 8px 0px rgba(55, 62, 70, 0.15);

    @media (max-width:470px) {
        & {
            padding: 40px 15px 15px;
        }
    }
}

.btn-close {
    position: absolute;
    top: 20px;
    right: 20px;

    background-color: transparent;
    transition: $transition;
}

.btn-close:hover {
    transform: rotate(90deg) scale(1.1);
}

.title {
    color: $main-blue;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.24px;
    margin-bottom: 40px;
}

.name-user,
.phone-user {
    color: #373E46;
    font-size: 20px;
    font-weight: 500;
    align-self: flex-start;
    margin-bottom: 12px;
}

.name-area,
.phone-area {
    display: block;
    width: 100%;
    padding: 16px 20px;

    border-radius: 12px;
    border: 1px solid rgba(205, 205, 205, 0.60);
    background: #FFF;

    color: rgba(73, 73, 73, 0.60);
    font-size: 20px;
    margin-bottom: 20px;
}

.phone-area {
    position: relative;
    margin-bottom: 40px;
}

.btn-send-app {
    display: flex;
    padding: 24px 0px;
    justify-content: center;
    align-self: stretch;

    border-radius: 12px;
    background: $main-red;
    box-shadow: 0px 4px 8px 0px rgba(71, 3, 17, 0.5);

    color: $white;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    transition: $transition;

    @media (max-width:470px) {
        & {
            padding: 15px 0;
        }
    }
}

.btn-send-app:hover {
    background: $red-hov;
}

.btn-send-app:active {
    background: $red-act;
}

.agree {
    color: #A1A1A1;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    width: 80%;

    @media (max-width:470px) {
        & {
            width: 100%;
            font-size: 12px;
            line-height: 1.2;
        }
    }
}

// --------------animation popup
.order-call.active .popup-window {
    transform: translateY(0px);
}

.order-call.active .popup-window.sent-call {
    font-size: 35px;
    color: $white;
    text-align: center;
    line-height: 1.5;

    background-color: $main-blue;
    box-shadow: 0 0 20px 10px #FFF;
}