@font-face {
    font-family: "Montserrat";
    src: url('.././fonts/mantserrat/Montserrat-Regular.ttf') format("TrueType"),
        url('.././fonts/montserrat/Montserrat-Regular.woff') format("woff"),
        url('.././fonts/montserrat/Montserrat-Regular.woff2') format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url('.././fonts/mantserrat/Montserrat-Medium.ttf') format("TrueType"),
        url('.././fonts/montserrat/Montserrat-Medium.woff') format("woff"),
        url('.././fonts/montserrat/Montserrat-Medium.woff2') format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url('.././fonts/mantserrat/Montserrat-SemiBold.ttf') format("TrueType"),
        url('.././fonts/montserrat/Montserrat-SemiBold.woff') format("woff"),
        url('.././fonts/montserrat/Montserrat-SemiBold.woff2') format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url('.././fonts/montserrat/Montserrat-Bold.ttf') format("TrueType"),
        url('.././fonts/montserrat/Montserrat-Bold.woff') format("woff"),
        url('.././fonts/montserrat/Montserrat-Bold.woff2') format("woff2");
    font-weight: 700;
    font-style: normal;
}