// color
$main-black: #494949;
$main-red: #E61946;
$red-hov: #FF3764;
$red-act: #C80028;
$main-blue: #004765;
$hov-blue: #64ABC9;
$light-gray: #CDCDCD;
$white : #fff;

// transition
$transition: all 0.2s ease-out;